body {
    background-color: silver;
    padding-top: 20px;
    font-family: cursive;
    color: blue;
    background-size: cover;
}
.container { 
    text-align: center;
    
}

h1,h2,p {
    padding: 12px;
    color: blue;
    background-color: silver;
}

#title-image, #gameover-image, #youwin-image{ 
    display: block;
    margin: 25px auto;
}

#currentWord {
    letter-spacing: 10px;
}

#tryAgain, 
#gameover-image, 
#youwin-image { 
    display: none;}
    
.content-column {
    padding-top: 20px;
    border: 5px double blue;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    min-height: 500px;
    background-color: silver;
}